body {
  background-color: #efece6d1;
  font-family: "Ysabeau", sans-serif;
}

a {
  color: #07588a;
}

.weather-app {
  background: #e1f6f4;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #efece6d1;
  padding-bottom: 20px;
}

.search-input {
  background-color: #efece6d1;
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
}

.submit-button {
  padding: 15px 20px;
  background-color: #07588a;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
}

main {
  margin-top: 20px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.city-input {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
}

.weather-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 10px;
}
strong {
  color: #6ac1b8;
}

.temp-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.current-temp {
  font-size: 88px;
  line-height: 52px;
  font-weight: bold;
}

.temp-unit {
  font-size: 28px;
  margin-top: 6px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.5);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #6ac1b8;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #efece6d1;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
